<html>
  <head>
    <title>Smoke Test Application</title>
  </head>
  <body>
    <H1>
    <br/>
    <a href=http://{{ ansible_fqdn }}/index.html>Homepage</a>
    <br/>
    <a href=http://{{ ansible_fqdn }}/about.html>About</a>
    </H1>
    <br/>
    <br/>
    <H2>
    <?php 
    Print "Hello, World! Smoke Testing our LAMP Deployment using Ansible and this host is: ";
    echo exec('hostname');
    Print  "</BR>";
    Print  "</BR>";
    
    echo  "List of Databases: </BR>";
    Print  "</H2>";
    Print  "<H3>";
        {% for host in groups['dbservers'] %}
                $link = mysqli_connect('{{ hostvars[host].ansible_default_ipv4.address }}', '{{ hostvars[host].dbuser }}', '{{ hostvars[host].upassword }}') or die(mysqli_connect_error($link));
        {% endfor %}
        $res = mysqli_query($link, "SHOW DATABASES;");
        while ($row = mysqli_fetch_assoc($res)) {
                echo $row['Database'] . "\n";
        }
    ?>
    Print  "</H3>";
  </body>
</html>

